<!DOCTYPE html>
<html>
<head>
	<title>add student</title>
</head>
<body>
    <h1>add new student here</h1>
    <form method="POST" action="addstudent">
    <input type="text" name="f_name" placeholder="First Name">
    <input type="text" name="l_name" placeholder="Last Name">
    <input type="text" name="math_grade" placeholder="Math Grade">
    <input type="text" name="english_grade" placeholder="English Grade">
    <button type="submit" value="submit">submit</button>
    </form>

</body>
</html>